/*===== COLORS =====*/
/*===== SIZES =====*/
/*===== FONT AND TYPOGRAPHY =====*/
/*===== FONT WEIGHT =====*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
/*===== BASE CSS =====*/
*,
body,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #fff 5%, #bae2fc 98%, #bae2fc 100%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

/* BODY SIDE BANNERS*/
.body__banners {
  display: none;
}

/* SCROLL TOP */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 100px;
  background-color: #ffffff;
  color: #333333;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.scroll__top--icon {
  font-size: 1.7rem;
}

/* INTRO*/
main {
  min-width: 325px;
  color: #222;
  font-family: "Roboto", sans-serif;
}

.container {
  background: linear-gradient(to bottom right, #f2fde5, #fff);
  max-width: 1310px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

section {
  width: 100%;
  min-height: 50vh;
  padding: 25px;
  position: relative;
}

#intro {
  border-top: 5px solid #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.intro__heading,
.section__alzabox--heading {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: #114384;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

.intro__subheading,
.section__alzabox--subheading {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: #114384;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.section__alzabox--heading span {
  color: green;
  display: block;
}

.intro__content {
  display: flex;
  flex-direction: column;
}

.intro__phone--banner {
  position: absolute;
  right: 0;
  max-width: 300px;
  height: auto;
}

.intro__downloads {
  margin-top: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.intro__downloads--img {
  max-width: 50%;
}

.intro__downloads--store-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro__downloads--store-buttons img {
  max-width: 100%;
}

.intro__scan--indicator {
  display: none;
}

/* NAVIGATION */
.navigation {
  background: #fbfbfb;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navigation__menu--items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  text-align: center;
  padding: 20px 0;
}

.navigation__link--item {
  color: #114384;
  text-decoration: underline;
}

.icon__link {
  margin: 0 auto 10px;
}

.text__link {
  font-size: 1rem;
  font-weight: 500;
}

/* SECTION */
.section__alzabox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 34%;
  font-size: 26px;
}

.section__alzabox--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.7;
}

.section__alzabox--instructions {
  display: flex;
  flex-direction: column;
}

.section__alzabox--phone-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

.section__phone--img {
  max-width: 100%;
  display: block;
}

.section__alzabox--cta-button {
  text-align: center;
  padding: 15px 30px;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #a1c900;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.section__alzabox--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.section__alzabox--item-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.section__alzabox--item i {
  font-size: 30px;
  color: #a1c900;
  padding-top: 5px;
}

.section__alzabox--title {
  font-size: 1.2rem;
  font-weight: 500;
}

.section__alzabox--title i {
  padding-right: 10px;
}

.section__alzabox--text {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  /* BODY SIDE BANNERS*/
  .body__banners {
    display: flex;
    position: relative;
  }
  .body__banners a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .body__banners .body__banner--left-link {
    position: absolute;
    top: -100px;
    left: -150px;
  }
  .body__banners .body__banner--right-link {
    position: absolute;
    top: -100px;
    right: -150px;
  }
  /* MEDIA - INTRO */
  main {
    max-width: 1310px;
    margin: 50px auto;
  }
  section {
    padding: 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .intro__heading,
  .section__alzabox--heading {
    font-size: 3rem;
  }
  .intro__subheading,
  .section__alzabox--subheading {
    font-size: 1.7rem;
    margin: 15px 110px 0;
  }
  .intro__downloads {
    margin-top: 70px;
  }
  .intro__phone--banner {
    max-width: 600px;
    width: 40%;
  }
  .intro__downloads img {
    flex-basis: 19%;
  }
  .intro__downloads--store-buttons a:hover:hover, .intro__downloads--store-buttons a:hover:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .intro__scan--indicator {
    margin-bottom: 150px;
    display: flex;
    margin-left: 60px;
  }
  /* MEDIA - NAVIGATION */
  .navigation {
    min-height: 18em;
    margin-top: 100px;
    padding: 50px 0;
  }
  .navigation__menu--items {
    flex-direction: row;
    justify-content: space-around;
  }
  .navigation__item:hover:hover, .navigation__item:hover:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .navigation__link--item:hover {
    color: #a1c900;
  }
  .icon__link {
    width: 60px;
  }
  .text__link {
    font-size: 1.25rem;
    font-weight: 500;
  }
  /* MEDIA - SECTION */
  .section__alzabox--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1.7;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 15px;
  }
  .section__alzabox--instructions {
    max-width: 70%;
    margin-bottom: 75px;
  }
  .section__alzabox--item-more {
    margin-top: 0;
  }
  .section__alzabox--phone-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
  }
  .section__phone--img {
    max-width: 100%;
    display: block;
  }
  a.section__alzabox--cta-button {
    text-align: center;
    padding: 15px 30px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #a1c900;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
  }
  a.section__alzabox--cta-button:hover:hover, a.section__alzabox--cta-button:hover:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .section__alzabox--item {
    padding: 40px 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .section__alzabox--item i {
    font-size: 40px;
    padding-top: 3px;
  }
  .section__alzabox--text {
    font-size: 1.5rem;
  }
  .section__alzabox--title {
    font-size: 1.7rem;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */