/*===== COLORS =====*/
/*===== SIZES =====*/
/*===== FONT AND TYPOGRAPHY =====*/
/*===== FONT WEIGHT =====*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
/*===== BASE CSS =====*/
*,
body,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#fff 10%, #bae2fc 98%);
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
}

/* BODY SIDE BANNERS*/
.body__banners {
  display: none;
}

/* INTRO*/
main {
  min-width: 325px;
  color: #222;
  font-family: "Roboto", sans-serif;
}

.container {
  background: linear-gradient(to bottom right, #f2fde5, #fff);
  max-width: 1310px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

section {
  width: 100%;
  padding: 25px;
}

#intro {
  border-top: 5px solid #222;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.heading {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #114384;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

.subheading {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #114384;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.intro__content {
  display: flex;
  flex-direction: column;
}

.intro__phone--banner {
  position: absolute;
  right: 0;
  max-width: 300px;
  height: auto;
}

.intro__downloads {
  margin-top: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.intro__downloads--img {
  max-width: 50%;
}

.intro__downloads--store-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro__downloads--store-buttons img {
  max-width: 100%;
}

.intro__scan--indicator {
  display: none;
}

/* NAVIGATION */
.navigation {
  background: transparent;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navigation__menu--items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  text-align: center;
  padding: 20px 0;
}

.navigation__link--item {
  color: #114384;
  text-decoration: underline;
}

.icon__link {
  margin: 0 auto 10px;
}

.text__link {
  font-size: 1rem;
  font-weight: 500;
}

/* SECTION 1 */
.section__alzabox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 34%;
  font-size: 26px;
}

.section__phone--img {
  max-width: 300px;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  /* BODY SIDE BANNERS*/
  .body__banners {
    display: flex;
    position: relative;
  }
  .body__banners a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .body__banners .body__banner--left-link {
    position: absolute;
    top: -100px;
    left: 148px;
  }
  .body__banners .body__banner--right-link {
    position: absolute;
    top: -100px;
    right: 148px;
  }
  /* INTRO */
  main {
    max-width: 1310px;
    margin: 50px auto;
  }
  section {
    padding: 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .heading {
    font-size: 4rem;
    margin-top: 80px;
  }
  .subheading {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  .intro__downloads {
    margin-top: 70px;
  }
  .intro__phone--banner {
    max-width: 600px;
    width: 50%;
  }
  .intro__downloads img {
    flex-basis: 20%;
  }
  .intro__downloads--store-buttons a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .intro__scan--indicator {
    margin-bottom: 150px;
    display: flex;
    margin-left: 60px;
  }
  /* NAVIGATION */
  .navigation {
    min-height: 18em;
    margin-top: 260px;
    padding: 50px 0;
  }
  .navigation__menu--items {
    flex-direction: row;
    justify-content: space-around;
  }
  .navigation__item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .navigation__link--item:hover {
    color: #a1c900;
  }
  .icon__link {
    width: 80px;
  }
  .text__link {
    font-size: 1.25rem;
    font-weight: 500;
  }
  /* SECTION 1 */
  .section__alzabox--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */