@import './partials/_variables.scss';
@import './partials/_mixins.scss';

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/*===== BASE CSS =====*/
*,
body,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: $font-body;
  background: $bg-page;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
}

.container {
  @include container;
}

/* BODY SIDE BANNERS*/
.body__banners {
  display: none;
}

/* SCROLL TOP */
.scroll__top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: $white-color;
  color: $icon-color;
  padding: 10px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  z-index: 1000;

  &--icon {
    font-size: $medium-font-size;
  }
}

/* NAVIGATION */
.navigation {
  background: $light-gray-color;
  margin-top: 20px;
  box-shadow: $box-shadow;

  &__menu--items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    text-align: center;
    padding: 20px 0;
  }

  &__link--item {
    color: $headings-color;
    text-decoration: underline;
  }

  &__icon--link {
    margin: 0 auto 10px;
  }

  &__text--link {
    font-size: $base-font-size;
    font-weight: $font-semi-bold;
  }
}

/* SECTION */
main {
  min-width: 325px;
  color: $text-color;
  font-family: $font-body;
}

#intro {
  border-top: 5px solid $icon-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

#section-2,
#section-4 {
  background: $bg-section;
}

.section__alzabox {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  position: relative;

  &--heading {
    @include heading;
  }

  &--subheading {
    @include heading;
    font-size: $sm-subheading-font;
    font-weight: $font-semi-bold;
  }

  &--heading {
    span {
      color: green;
      display: block;
    }
  }

  &--phone-intro {
    position: absolute;
    right: 0;
    max-width: 300px;
    height: auto;
  }

  &--intro-downloads {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &--downloads-img {
    max-width: 50%;
  }

  &--store-buttons {
    max-width: 100%;
  }

  &--scan-arrow {
    display: none;
  }

  &--instructions {
    display: flex;
    flex-direction: column;
  }

  &--item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: $text-color;
    font-size: $base-font-size;
  }

  &--item {
    i {
      font-size: 20px;
      color: $green-color;
      padding-top: 3px;
    }
  }

  &--text {
    margin-bottom: 15px;
  }

  &--phone-img {
    @include phone-image;
  }

  &--phone-cta {
    @include phone-cta;
  }

  &--cta-button {
    @include cta-button;
  }

  &--title {
    font-size: $sm-subheading-font;
    font-weight: $font-semi-bold;
  }

  &--title i {
    padding-right: 10px;
  }

  // section-4
  &--item-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &--text-more {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &--item-more.active {
    &--text-more {
      max-height: 1000px;
    }
  }
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  /* SCROLL-TOP BUTTON */
  .scroll__top {
    right: 500px;
    padding: 20px;

    &--icon {
      font-size: $subheading-font;
    }
  }

  /* BODY SIDE BANNERS*/
  .body__banners {
    display: flex;
    position: relative;

    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .body__banner--left-link {
      @include banner-position(-100px, left);
    }

    .body__banner--right-link {
      @include banner-position(-100px, right);
    }
  }

  /* MEDIA - HEADER */
  header {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    height: 100px;
  }

  .header__navbar {
    display: flex;
    justify-content: space-around;
    // @include container;
    max-width: 80rem;
    margin: 0 auto;
  }

  .logo {
    max-width: 90%;
  }

  .header__navbar--search-bar {
    flex-basis: 50%;
    margin-left: 3%;
  }

  .header__navbar--search-input {
    background: transparent
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat 13px center;
    // flex: auto;
    border: none;
    box-shadow: $box-shadow;
    display: inline-block;
    width: 25rem;
    height: 2.6rem;
    margin-top: 8px;
    padding: 9px 16px 9px 48px;
    overflow: hidden;
    font-size: $small-font-size;
    white-space: nowrap;
    font-weight: $font-semi-bold;
    border-radius: $border-radius;
    letter-spacing: 0.8px;
  }

  .header__navbar--search-btn {
    background-color: $bg-search-btn;
    color: $white-color;
    border: none;
    border-radius: $border-radius;
    line-height: 1.75;
    padding: 10px 15px;
    font-weight: $font-bold;
    font-size: $small-font-size;
    letter-spacing: 0.8px;
  }

  .header__navbar--search-btn:hover {
    background-color: $bg-search-btn-hover;
    cursor: pointer;
  }

  .header__navbar--user-login {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: $small-font-size;
    border-radius: $border-radius;
    width: 154px;
    padding: 10px 10px;
  }

  .header__navbar--user-login:hover {
    background-color: rgba(20, 69, 84, 0.06);
    cursor: pointer;
  }

  .header__navbar--user-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .header__navbar--login-link:hover {
    text-decoration: underline;
  }

  .fa-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $gray-color;
    font-size: $base-font-size;
  }

  .fa-angle-down {
    color: $gray-color;
    font-size: $large-font-size;
  }

  .header__navbar--user-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: $large-font-size;
    position: relative;
  }

  .header__navbar--user-icons:hover {
    cursor: pointer;
  }

  .fa-cart-shopping {
    color: $gray-color;
  }

  /* MEDIA - INTRO */

  // .intro__content {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;
  //   gap: 40px;
  // }

  // .intro__downloads {
  //   margin-top: 70px;
  //   flex-direction: row;
  // }

  // .intro__phone--banner {
  //   max-width: 600px;
  //   width: 40%;
  // }

  // .intro__downloads img {
  //   flex-basis: 19%;
  // }

  // .intro__downloads--store-buttons a:hover {
  //   @include zoom-on-button;
  // }

  // .intro__scan--indicator {
  //   margin-bottom: 150px;
  //   display: flex;
  //   margin-left: 60px;
  // }

  /* MEDIA - NAVIGATION */
  .navigation {
    min-height: 18em;
    margin-top: 100px;
    padding: 50px 0;

    &__menu--items {
      flex-direction: row;
      justify-content: space-around;
    }

    &__item:hover {
      @include zoom-on-button;
    }

    &__link--item:hover {
      color: $green-color;
    }

    &__icon--link {
      width: 70px;
    }

    &__text--link {
      font-size: $medium-font-size;
    }
  }

  /* MEDIA - SECTION */

  .section__alzabox {
    padding: 40px;
    font-size: $base-font-size;
    align-items: flex-start;

    &--heading {
      font-size: $heading-font;
    }

    &--subheading {
      font-size: $subheading-font;
      margin: 25px 110px;
    }

    &--content {
      @include text-content;
      flex-direction: row;
    }

    &--intro-downloads {
    }
  }

  .section__alzabox--instructions {
    max-width: 70%;
    margin-bottom: 60px;
  }

  .section__alzabox--item-more {
    margin-top: 0;
  }

  .section__alzabox--phone-cta {
    @include phone-cta;
  }

  .section__phone--img {
    @include phone-image;
    width: 350px;
  }

  a.section__alzabox--cta-button {
    @include cta-button;
    padding: 20px 40px;
  }

  a.section__alzabox--cta-button:hover {
    @include zoom-on-button;
  }

  .section__alzabox--item {
    padding: 40px 30px;
    margin-bottom: 20px;
    // background: $gray-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }

  // .section__alzabox--item i {
  //   font-size: 40px;
  //   padding-top: 3px;
  // }

  .section__alzabox--text {
    font-size: $large-font-size;
  }

  .section__alzabox--title {
    font-size: $subheading-font;
    font-weight: $font-semi-bold;
  }
}
