@import './partials/_variables.scss';
@import './partials/_mixins.scss';

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/*===== BASE CSS =====*/
*,
body,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: $font-body;
  background: $bg-page;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

/* BODY SIDE BANNERS*/
.body__banners {
  display: none;
}

/* SCROLL TOP */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  z-index: 1000;
}

.scroll__top--icon {
  font-size: $medium-font-size;
}

/* INTRO*/

main {
  min-width: 325px;
  color: $icon-color;
  font-family: $font-body;
}

.container {
  @include container;
}

section {
  width: 100%;
  min-height: 50vh;
  padding: 10px 25px;
  position: relative;
}

#intro {
  border-top: 5px solid $icon-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.intro__heading,
.section__alzabox--heading {
  @include heading;
}

.intro__subheading,
.section__alzabox--subheading {
  @include heading;
  font-size: $sm-subheading-font;
  font-weight: $font-semi-bold;
}

.section__alzabox--heading span {
  color: green;
  display: block;
}

.intro__content {
  display: flex;
  flex-direction: column;
}

.intro__phone--banner {
  position: absolute;
  right: 0;
  max-width: 300px;
  height: auto;
}

.intro__downloads {
  margin-top: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.intro__downloads--img {
  max-width: 50%;
}

.intro__downloads--store-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro__downloads--store-buttons img {
  max-width: 100%;
}

.intro__scan--indicator {
  display: none;
}

/* NAVIGATION */
.navigation {
  background: $light-gray-color;
  margin-top: 20px;
  box-shadow: $box-shadow;
}

.navigation__menu--items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  text-align: center;
  padding: 20px 0;
}

.navigation__link--item {
  color: $headings-color;
  text-decoration: underline;
}

.icon__link {
  margin: 0 auto 10px;
}

.text__link {
  font-size: $base-font-size;
  font-weight: $font-semi-bold;
}

/* SECTION */
.section__alzabox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 34%;
  font-size: 26px;
}

.section__alzabox--content {
  @include text-content;
}

.section__alzabox--instructions {
  display: flex;
  flex-direction: column;
}

.section__alzabox--phone-cta {
  @include phone-cta;
}

.section__phone--img {
  @include phone-image;
}

.section__alzabox--cta-button {
  @include cta-button;
}

.section__alzabox--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.section__alzabox--item-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.section__alzabox--item i {
  font-size: 30px;
  color: $green-color;
  padding-top: 5px;
}

.section__alzabox--title {
  font-size: $sm-subheading-font;
  font-weight: $font-semi-bold;
}

.section__alzabox--title i {
  padding-right: 10px;
}

.section__alzabox--text {
  font-size: $base-font-size;
  margin-bottom: 15px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  /* SCROLL BUTTON */
  .scroll-top {
    right: 550px;
    padding: 20px;
  }

  .scroll__top--icon {
    font-size: $subheading-font;
  }
  /* BODY SIDE BANNERS*/
  .body__banners {
    display: flex;
    position: relative;

    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .body__banner--left-link {
      @include banner-position(-100px, left);
    }

    .body__banner--right-link {
      @include banner-position(-100px, right);
    }
  }
  /* MEDIA - INTRO */
  main {
    max-width: 1310px;
    margin: 50px auto;
  }
  section {
    padding: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .intro__heading,
  .section__alzabox--heading {
    font-size: $heading-font;
  }

  .intro__subheading,
  .section__alzabox--subheading {
    font-size: $subheading-font;
    margin: 25px 110px;
  }

  .intro__downloads {
    margin-top: 70px;
  }

  .intro__phone--banner {
    max-width: 600px;
    width: 40%;
  }

  .intro__downloads img {
    flex-basis: 19%;
  }

  .intro__downloads--store-buttons a:hover {
    @include zoom-on-button;
  }

  .intro__scan--indicator {
    margin-bottom: 150px;
    display: flex;
    margin-left: 60px;
  }

  /* MEDIA - NAVIGATION */
  .navigation {
    min-height: 18em;
    margin-top: 100px;
    padding: 50px 0;
  }

  .navigation__menu--items {
    flex-direction: row;
    justify-content: space-around;
  }

  .navigation__item:hover {
    @include zoom-on-button;
  }

  .navigation__link--item:hover {
    color: $green-color;
  }

  .icon__link {
    width: 60px;
  }

  .text__link {
    font-size: $medium-font-size;
    font-weight: $font-semi-bold;
  }

  /* MEDIA - SECTION */

  .section__alzabox--content {
    @include text-content;
    flex-direction: row;
    font-size: $large-font-size;
    gap: 15px;
  }

  .section__alzabox--instructions {
    max-width: 70%;
    margin-bottom: 60px;
  }

  .section__alzabox--item-more {
    margin-top: 0;
  }

  .section__alzabox--phone-cta {
    @include phone-cta;
  }

  .section__phone--img {
    @include phone-image;
  }

  a.section__alzabox--cta-button {
    @include cta-button;
    padding: 20px 40px;
  }

  a.section__alzabox--cta-button:hover {
    @include zoom-on-button;
  }

  .section__alzabox--item {
    padding: 40px 30px;
    margin-bottom: 20px;
    // background: $gray-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }

  .section__alzabox--item i {
    font-size: 40px;
    padding-top: 3px;
  }

  .section__alzabox--text {
    font-size: $large-font-size;
  }

  .section__alzabox--title {
    font-size: $subheading-font;
    font-weight: $font-semi-bold;
  }
}
