@mixin banner-position($top, $side) {
  position: absolute;
  top: $top;
  #{$side}: -150px;
}

@mixin container {
  background: $bg-container;
  max-width: 1310px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

@mixin heading {
  display: block;
  font-family: $font-header;
  font-size: $sm-heading-font;
  color: $headings-color;
  line-height: 1.5;
  font-weight: $font-bold;
  text-align: center;
  margin: 10px 0;
}

@mixin text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: $base-font-size;
  line-height: 1.7;
}

@mixin phone-image {
  max-width: 100%;
  display: block;
}

@mixin phone-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

@mixin cta-button {
  text-align: center;
  padding: 15px 30px;
  letter-spacing: 1px;
  border-radius: $border-radius;
  background: $green-color;
  color: $white-color;
  font-size: $medium-font-size;
  font-weight: $font-semi-bold;
  box-shadow: $box-shadow;
}

@mixin zoom-on-button {
  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}
