/*===== COLORS =====*/
$bg-page: linear-gradient(to bottom, #fff 5%, #bae2fc 98%, #bae2fc 100%);
$bg-container: linear-gradient(to bottom right, #f8fff1, #fff);
$bg-polygon: linear-gradient(150deg, #042856, #22579d);
$icon-color: #222;
$bg-search-btn: #0094e7;
$bg-section: #f7fcf6;
$bg-search-btn-hover: #358fc0;
$headings-color: #114384;
$green-color: #a1c900;
$blue-color: #0094e7;
$gray-color: #e3e0e0;
$light-gray-color: #fbfbfb;
$white-color: #fff;
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

/*===== SIZES =====*/
$border-radius: 5px;
$header-hight: 3rem;

/*===== FONT AND TYPOGRAPHY =====*/
$font-body: 'Roboto', sans-serif;
$font-header: 'Poppins', sans-serif;

$small-font-size: 0.7rem;
$base-font-size: 1rem;
$medium-font-size: 1.25rem;
$large-font-size: 1.5rem;
$heading-font: 3rem;
$sm-heading-font: 1.7rem;
$subheading-font: 1.7rem;
$sm-subheading-font: 1.2rem;

/*===== FONT WEIGHT =====*/
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
