/*===== COLORS =====*/
$bg-page: linear-gradient(#fff 10%, #bae2fc 98%);
$bg-container: #fff;
$bg-gradient: linear-gradient(150deg, #042856, #22579d);
$text-color: #222;
$headings-color: #1653a4;
$green-color: #a1c900;
$blue-color: #0094e7;
$gray-color: #e0e0e0;
$white-color: #fff;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

/*===== SIZES =====*/
$border-radius: 4px;
$header-hight: 3rem;

/*===== FONT AND TYPOGRAPHY =====*/
$font-body: 'Roboto', sans-serif;
$font-header: 'Poppins', sans-serif;

$small-font-size: 0.7rem;
$base-font-size: 1rem;
$large-font-size: 1.25rem;
$heading-font: 3.5rem;
$sm-heading-font: 2rem;
$subheading-font: 1.5rem;
$sm-subheading-font: 1rem;

/*===== FONT WEIGHT =====*/
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
